<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regístrate</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <form action="/register" method="POST">
      <img src="images/logo.jpg" alt="Logo" />
      <h1>Regístrate</h1>
      <p for="email">Correo electrónico</p>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="e-mail"
        required
      />
      <p for="username">Nombre de usuario</p>
      <input
        type="text"
        name="username"
        id="email"
        placeholder="Nombre de usuario"
        required
      />
      <p for="password">Contraseña</p>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Contraseña"
        required
      />
      <!-- <p for="password">Repite Contraseña</p>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Repite contraseña"
        required
      /> -->
      <div>
        <a href="/login">¿Ya tenes cuenta? Inicia sesión</a>
      </div>
      <div><button href="#" type="submit">Registrarse</button></div>
    </form>
  </body>
</html>
