<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regístrate</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <form>
      <img src="https://robohash.org/AJAM" alt="Logo" />
      <h1>Regístrate</h1>
      <p for="email">Correo electrónico</p>
      <input type="email" name="email" id="email" required />
      <p for="password">Contraseña</p>
      <input type="password" name="password" id="password" required />
      <p for="password">Repite Contraseña</p>
      <input type="password" name="password" id="password" required />
      <div>
        <a href="login.html">¿Ya tenes cuenta? Inicia sesión</a>
      </div>
      <div><button href="#" type="submit">Registrarse</button></div>
    </form>
  </body>
</html>
